streamlit
langchain
openai
chromadb
tiktoken
pytube
youtube-transcript-api
azure-storage-blob
pypdf
azure-search-documents==11.4.0b8
azure-identity
unstructured
unstructured[pdf]
opencv-python
scikit-image
pandas
tabulate
azure-ai-formrecognizer
azure-cognitiveservices-speech
